
@model List<Product>

<div class="container card rounded-3 shadow-lg mt-5">
    <div class="row mt-5">
        

            <div class="col-6 mb-4">
                <h2>Product List</h2>
            </div>

            <div class="col-6 mb-4">
                <a asp-controller="Product" asp-action="Upsert" class="shadow-sm btn btn-outline-dark ms-4">
                    <i class="bi bi-plus-circle me-1"> </i> Create New Product
                </a>
            </div>
        
    </div>




    @*<table class="table table-bordered ">
    <thead>
        <tr>
            <th scope="col">
              Title
            </th>
            <th scope="col">ISBN</th>
            <th scope="col">Price</th>
            <th scope="col">Author</th>
            <th scope="col">Category</th>


       
        </tr>
    </thead>
    <tbody>
       @foreach(var obj in Model)
        {
        <tr>
            <td>@obj.Title</td>
            <td>@obj.ISBN</td>
                    <td>@obj.ListPrice</td>
                    <td>@obj.Author</td>
                    <td>@obj.Category.Name</td>

            <td>
                        <div class="w-75 btn-group shadow-sm" role="group">
                            <a asp-controller="Product" asp-action="Upsert" asp-route-Id="@obj.Id" class="btn btn-primary ">
                                <i class="bi bi-pencil"></i> Edit
                            </a>
                            <a asp-controller="Product" asp-action="Delete" asp-route-Id="@obj.Id" class="btn btn-outline-danger ">
                                <i class="bi bi-x-circle"></i> Delete
                            </a>
                        </div>
            </td>

       
          
        </tr>
            }
      
    </tbody>
    </table>*@
    <table id="tblData" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>ISBN</th>
                <th>Price</th>
                <th>Author</th>
                <th>Category</th>
            <th></th>
            </tr>
        </thead>

    </table>
</div>


@section Scripts{
    <script src="~/js/product.js"></script>
}