@model IEnumerable<Product>


@* 
    <div class="books">
        <div>
            <img src="https://images-na.ssl-images-amazon.com/images/I/718ReYbwlFL.jpg" alt="" class="book-img">
        </div>
        <div class="descp">
            <h2 class="book-name">After You</h2>
            <h3 class="author">by Jojo Myoes</h3>
            <h3 class="rating">1.987 rating</h3>
            <p class="info">
                It continues the story of Louisa Clark after Will's death. She is trying to move on.
            </p>
            <button type="submit">See the Book</button>
        </div>
    </div>

    <div class="books">
        <div>
            <img src="https://images-na.ssl-images-amazon.com/images/I/91JxVjINNsL.jpg" alt="" class="book-img">
        </div>
        <div class="descp">
            <h2 class="book-name">Big Magic</h2>
            <h3 class="author">by Elizabeth Gilbert</h3>
            <h3 class="rating">1.987 rating</h3>
            <p class="info">
                Readers of all ages and walks of life have drawn inspiration from Elizabeth
                Gilbert’s books.
            </p>
            <button type="submit" id="b1">See the Book</button>
        </div>
    </div>

    <div class="books">
        <div>
            <img src="https://images-na.ssl-images-amazon.com/images/I/9129dzchsGL.jpg" alt="" class="book-img">
        </div>
        <div class="descp">
            <h2 class="book-name">A Tale for the Time Being</h2>
            <h3 class="author">by Ruth Ozeki</h3>
            <h3 class="rating">1.987 rating</h3>
            <p class="info">
                In Tokyo, sixteen-year-old Nao has decided there’s only one escape from her aching loneliness

            </p>
            <button type="submit" id="b2">See the Book</button>
        </div>
    </div>

    <div class="books">
        <div>
            <img src="https://images-na.ssl-images-amazon.com/images/I/81djg0KWthS.jpg"
                 alt="" class="book-img">
        </div>
        <div class="descp">
            <h2 class="book-name">The Great Gatsby</h2>
            <h3 class="author">by F. Scott Fitzgerald</h3>
            <h3 class="rating">1.987 rating</h3>
            <p class="info">
                The novel was inspired by a youthful romance Fitzgerald had with socialite Ginevra King
            </p>
            <button type="submit" id="b3">See the Book</button>
        </div>
    </div>  *@

<div class="row pb-3">
    @foreach (var product in Model)
    {
      
          
       
  



        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="row p-2">
                <div class="col-12 p-1">

                    <div class="books shadow">
                    <div>
                    <img src="@product.ImageUrl" alt="" class="book-img">
                    </div>
                <div class="descp">
                    <h2 class="book-name text-dark">@product.Title</h2>
                    <h3 class="author text-dark">by @product.Author</h3>
                            <p class="text-dark text-opacity-75  mb-0 rating">
                                List Price:
                                <span class="text-decoration-line-through">
                                    @product.Price.ToString("c")
                                </span>
                            </p>
                    <p class="info">
                                As low as:
                                <span>
                                    @product.Price100.ToString("c")
                                </span>
                    </p>
                            <a asp-action="Details"
                               asp-route-id="@product.Id"
                               class="btn btn-warning" id="b3">
                                Details
                            </a>
                      </div>
                    </div>  

                </div>
            </div>
        </div>
            
        
        
        
        
        
        
    @*     <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow  border-top border-5 rounded">
                        <img src="@product.ImageUrl" class="card-img-top rounded" />
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Title</p>
                                <p class="card-title text-warning text-center">by <b>@product.Author</b></p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center mb-0">
                                    List Price:
                                    <span class="text-decoration-line-through">
                                        @product.ListPrice.ToString("c")
                                    </span>
                                </p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center">
                                    As low as:
                                    <span>
                                        @product.Price100.ToString("c")
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div>
                            <a asp-action="Details"
                               asp-route-id="@product.Id"
                               class="btn btn-primary bg-gradient border-0 form-control">
                                Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>  *@
    }
</div>

